{% extends 'base.html' %}
{% load static %}

{% block title %}
    写博客
{% endblock %}

{% block mycss %}
    <style>
        form {
            margin: 30px 20px;
            font-size: 16px;
        }

        form > p {
            margin-bottom: 10px;
        }

        .button{
            width: 60px;
            height: 30px;
            border-radius: 20%;
        }
    </style>
{% endblock %}

{% block content %}
    <form action="{% url 'article:write' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        {{ form.media }}
        <input type="submit" value="发表文章" class="button">
    </form>
{% endblock %}