{% extends 'base.html' %}
{% load static %}

{% block title %}
    忘记密码
{% endblock %}

{% block mycss %}
    <link href="{% static  'css/register.css' %}" rel="stylesheet" type="text/css" media="all"/>
    <link href="//fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=latin-ext,vietnamese"
          rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="main">
        <div class="main-w3l">
            <h1 class="logo-w3">忘记密码</h1>

            <div class="w3layouts-main">
                <p>{{ msg }} {{ errors }}</p>
                <form action="{% url 'user:forget_pwd' %}" method="post">
                    {% csrf_token %}
                    邮箱:{{ form.email }}
                    验证码:{{ form.captcha }}
                    <input type="submit" value="找回密码">
                </form>
            </div>

        </div>
    </div>
{% endblock %}


{% block myjs %}
    <script>
      $(function(){
          // 刷新动作,触发插件 captcha 的动作
        $('.captcha').click(function(){
            var img= $(this);
           $.getJSON('/captcha/refresh',function(data){
               console.log(data)
               img.attr('src',data['image_url']);
               $('#id_captcha_0').val(data['key'])
           })
        });

        // 验证验证码是否正确,
          // 图片验证码输入框,blur(失去输入光标焦点,即已输入验证码,开始进行验证码校验),focus(拿到光标焦点)
          $('#id_captcha_1').blur(function(){
              var $this = $(this);
              var key = $('#id_captcha_0').val();
              var code = $(this).val();

              // 这里用Json传输key,code数据到url的views中,进行判断处理
              // 得到返回的状态码
              $.getJSON('{% url 'user:validate_code' %}',{key:key,code:code},function(data){
                    console.log(data)

                  // 清空span中的内容,避免信息重复出现
                  $('#result').remove();
                  if(data.status==1){
                    $this.after('<span id="result">验证码正确</span>')
                  }else{
                    $this.after('<span id="result">验证码错误</span>')
                  }
              })
          })
      });

    </script>
{% endblock %}